# data
numpy
pandas
scikit-learn
matplotlib

# database
sqlalchemy
psycopg2
pg8000
mysqlclient
pymysql
cx-Oracle
pyodbc
pymssql

# som
minisom
sompy

# websocket
asyncio
websockets

# misc
pylint

# webserver
aiohttp